@import "reset.css";
html {
  font-family: -apple-system, sans-serif, Dotum, NotoSansKR, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #101322;
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

img {position: relative; width: 100%;}

#contents {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}



.header-wrap {
  position:fixed;
  width: 100%;
  left:0;
  top:0;
  background: #101322;
  height: 56px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 56px 0;
  color: #fff;
}

.footer-wrap {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #101322;
  left: 0;
}

.navigator {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
.navigator .nav-item {
  display: block;
  flex: 1 1 25%;
  height: 56px;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  color: #fff;
  opacity: .4;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: top 5px center;
}

.navigator .nav-item .nav-txt {
  margin: 37px 0 0 0;
  display: inline-block;
}

.navigator .nav-item.active {
  opacity: 1;
}

.navigator .nav-item.home {
  background-image: url('../images/home.svg');
}
.navigator .nav-item.search {
  background-image: url('../images/search.svg');
}
.navigator .nav-item.community {
  background-image: url('../images/community.svg');
}
.navigator .nav-item.my-page {
  background-image: url('../images/my.svg');
}