@import "reset.css";
@import "common.css";

.mypage {padding: 26px 0;}
.mypage .profile_area {display: flex; justify-content: flex-start; align-items: flex-end; gap: 15px; margin: 10px 0 35px;}
.mypage .profile_area .user_img {display: flex; justify-content: center; align-items: center; width: 34px; height: 34px; font-size: 20px; font-weight:700; border-radius: 50%; background-color: #98a4b7;}
.mypage .profile_area .user_name {display: flex; justify-content: center; align-items: center;}
.mypage .profile_area .user_name__link {display: inline-flex; align-items: center; gap: 5px; font-size: 26px; font-weight: 700; line-height: 30px;}
.mypage .profile_area .user_name__link:after {content: ""; display: inline-flex; width: 9px; height: 9px; border-top: 2px solid #98a4b7; border-right: 2px solid #98a4b7; transform: rotate(45deg);}

.mypage .list_area .list_title {margin-bottom: 10px; font-size: 24px; font-weight: 700; color: #98a4b7;}
.mypage .list_area .interest_box {width: 100%;}
.mypage .list_area .interest_item {width: 150px; height: 200px; border: 1px solid #98a4b7;}
.mypage .list_area .interest_item:not(:last-child) {margin-right: 10px;}
.mypage .list_area .interest_item--name {margin-top: 8px; font-size: 16px; line-height: 24px; color: #98a4b7;}
.mypage .profile_update_area .user_img {width: 130px; height: 130px; margin: 0 auto 30px; border-radius: 50%; overflow: hidden; background-color: #98a4b7;}
.mypage .profile_update_area .user_img img {width: 100%; height: 100%;}
.mypage .profile_update_area .file_box {text-align: center;}
.mypage .profile_update_area .file_box label[for=input_file] {display: inline-flex; justify-content: center; align-items: center; padding: 0 10px; font-size: 16px; line-height: 30px; color: #172036; border: 1px solid #aec3e4; background-color: #98a4b7; border-radius: 5px;}
.mypage .profile_update_area .file_box input[type=file] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);}
.mypage .profile_update_area .user_info {display: flex; flex-wrap: wrap; justify-content: space-between; gap: 15px 0; margin-bottom: 25px;}
.mypage .profile_update_area .user_info__text {font-size: 18px; font-weight: 700; color: #98a4b7;}
.mypage .profile_update_area .user_info__text-check {font-size: 18px; color: #98a4b7;}
.mypage .profile_update_area .user_info input[type=text] {width: 100%; padding: 0 10px; font-size: 16px; line-height: 35px; color: #172036; border: 1px solid #aec3e4; background-color: #fff; border-radius: 5px;}
.mypage .profile_update_area .btn_submit {display: inline-flex; justify-content: center; align-items: center; width: 100%; padding: 0 10px; font-size: 18px; line-height: 50px; color: #172036; border: 1px solid #aec3e4; background-color: #98a4b7; border-radius: 5px;}